@use '../abstract/variables' as *;

.main {
  padding: 4.2rem 0 2.4rem;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1.2fr 3fr;
  align-items: flex-start;

  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-gap: 3.2rem;
  }

  &__jobs {
    // width: 100%;
    flex-grow: 1;
  }
}

.jobs {
  list-style: none;
}
