@use '../abstract/variables' as *;

.info {
  &__content {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgba($color-tertiary, 0.65);
    overflow: hidden;

    svg {
      font-size: 1.6rem;
      color: rgba($color-tertiary, 0.55);
    }
  }

  &__text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
